@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: #000;
}

input[type='range']::-webkit-slider-thumb {
  -webkit-appearance: none;
  width: 14px;
  height: 14px;
  background: white;
  cursor: pointer;
}

input[type='color'] {
  -webkit-appearance: none;
  appearance: none;
  border: 1px solid #3f3f46;
  width: 40px;
  height: 40px;
  padding: 2px;
  background: transparent;
  cursor: pointer;
}

input[type='color']::-webkit-color-swatch-wrapper {
  padding: 0;
}

input[type='color']::-webkit-color-swatch {
  border: none;
}
